{
	"jsc": {
		"target": "es2020",
		"parser": {
			"syntax": "typescript",
			"decorators": false,
			"dynamicImport": false
		},
		"transform": {
			"react": {
				"pragma": "React.createElement",
				"pragmaFrag": "React.Fragment",
				"throwIfNamespace": true,
				"development": false,
				"runtime": "automatic"
			}
		}
	},
	"module": {
		"type": "commonjs",
		"strict": false,
		"strictMode": true,
		"lazy": false,
		"noInterop": false
	}
}
