@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Staatliches&display=swap');

:root{
    --bg: rgb(248, 248, 248);
    --flame-gradient-nametag: linear-gradient(320deg, rgba(255,148,49,1) 0%, rgba(255,142,39,1) 45%, rgba(255,100,0,1) 100%);
    --square-border: hsla(0, 0%, 47%, 0.1);
    --valid-placement: hsla(38, 16%, 76%, 0.4);
    --invalid-placement: hsla(0, 100%, 50%, 0.2);
    --flame-gradient: linear-gradient(160deg, rgba(255,148,49,1) 0%, rgba(255,142,39,1) 45%, rgba(255,100,0,1) 100%);

    --white: rgb(255, 255, 255);
    --floral-white: hsla(46, 100%, 97%, 1);
    --pale-silver: hsla(38, 16%, 76%, 1);
    --black-olive: hsla(34, 6%, 24%, 1);
    --eerie-black: hsla(40, 4%, 14%, 1);
    --flame: rgba(255,142,39,1);
}

html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonts {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
}

#root {
    min-height: 100vh;
}

#root, #detail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    min-height: 100%;
    background-color: var(--bg);
}

header {
    background: var(--flame-gradient);
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 10px;
    margin: 25px auto 25px auto;
    user-select: none;
    transition-duration: 1s;
    padding: 10px 0 10px 0;
}

header:hover {
    letter-spacing: 11px;
    transition-duration: 1s;
}

footer {
    padding: 10px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}